
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins';
}

#menuToggle {
    width: 34px;
    height: 34px;
    border: none;
    background: none;
    transition: 0.3s ease;
}

#menuToggle:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.314);
    transition: box-shadow 0.3s ease;
}

.icon-transition {
    transition: transform 0.4s ease;
}

.icon-rotate {
    transform: rotate(180deg);
}

.sidebar { 
    position: fixed; 
    top: 50px;
    left: -250px; 
    width: 250px; 
    height: 94%; 
    background-color: white; 
    z-index: 1040; 
    transition: all 0.3s ease; 
    -webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease; 
    -ms-transition: all 0.3s ease; 
    -o-transition: all 0.3s ease;
}

.sidebar.show {
    left: 0;
}

.sidebar ul li a{
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar ul li{
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.sidebar ul li :hover{
    padding-top: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #d9d9d9;
}
#navbar.scrolled {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
}

.skyline-bg {
    background: 
        linear-gradient(to bottom, rgba(139, 139, 139, 0), #ffffffc2 90%),
        url('../img/bg_gedung.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    /* top: 100px; */
    height: 330px;
    width: 100vw;
    margin-bottom: -40px;
}

main{
    top: -220px;
}

.kota:hover{
    transform: scale(1.02); 
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.366) !important;
    transition: box-shadow 0.3s ease;
}
.kota:hover i{
    transform: scale(1.4);
}

.kotap:hover{
    background-color: white;
    color: black;
}

.berita article:hover{
    transform: scale(1.02);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.366) !important;
    transition: box-shadow 0.3s ease;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}
.berita article:hover i{
    transform: scale(1.4);
}

.bg-city-banner {
    height: 270px;
    background-color: #14a2ba;
    overflow: hidden;
}

footer li a{
    color: rgb(208, 208, 208);
}
