
.hide-scrollbar::-webkit-scrollbar {
display: none;
}
.hide-scrollbar {
-ms-overflow-style: none;
scrollbar-width: none;
}

body {
margin: 0;
padding: 0;
overflow-x: hidden;
font-family: 'Poppins', sans-serif;
}

#menuToggle {
width: 34px;
height: 34px;
border: none;
background: none;
transition: 0.3s ease;
}

#menuToggle .bar { width: 20px; height: 2px; background-color: #333; margin: 3px 0; transition: 0.4s; -webkit-transition: 0.4s; -moz-transition: 0.4s; -ms-transition: 0.4s; -o-transition: 0.4s;
}


#menuToggle.active .bar:nth-child(1) {
transform: rotate(45deg) translate(4px, 4px);
}
#menuToggle.active .bar:nth-child(2) {
opacity: 0;
}
#menuToggle.active .bar:nth-child(3) {
transform: rotate(-45deg) translate(4px, -4px);
}


.sidebar {
position: fixed;
top: 53.5px;
left: -250px;
width: 250px;
height: calc(100% - 64px);
background-color: white;
z-index: 1040;
transition: all 0.3s ease;
}
.sidebar.show {
left: 0;
}

/* Sticky shadow */
#navbar.scrolled {
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
position: fixed;
width: 100%;
}

.skyline-bg {
background: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffffc2 90%),
    url('img/bg_gedung.png');
background-repeat: no-repeat;
background-position: center bottom;
background-size: cover;
position: relative;
/* top: 100px; */
height: 330px;
width: 100vw;
margin-bottom: -40px;
}


.map-illustration {
position: absolute;
right: 1rem;
bottom: 1rem;
width: 6rem;
height: 6rem;
pointer-events: none;
user-select: none;
}


.bg-city-banner {
height: 224px;
background-color: #0d6efd;
overflow: hidden;
}

main{
    top: -220px;
}